Repository atc0005/check-cert, pull requests merged in 2024-02, with the labels that each got.

#765 Fix linting error and potential race condition
  cmd/certsum/certcheck.go
Labels: bug, linting, app/certsum

#766 Fix linting error and potential race condition
  cmd/certsum/certcheck.go
Labels: bug, linting, app/certsum

#771 Update CHANGELOG for v0.15.9 release
  CHANGELOG.md
Labels: changelog

#769 Add Linux ARM64 binaries to build and release process
  Makefile
Labels: enhancement, builds

#773 Sync latest changes from master branch
  .github/dependabot.yml
  CHANGELOG.md
  Makefile
  go.mod
Labels: changelog, builds

#781 Update project to Go 1.21 series
  .github/dependabot.yml
  dependabot/docker/go/Dockerfile
Labels: CI, dependencies, builds

#783 Update Dependabot PR prefixes
  .github/dependabot.yml
Labels: config, CI, dependencies

#784 Update Dependabot PR prefixes (redux)
  .github/dependabot.yml
Labels: config, CI, dependencies

#790 Update CHANGELOG for v0.16.0 release
  CHANGELOG.md
Labels: changelog
